@font-face {
    font-family: "Montserrat";
    font-weight: normal;
    src: url("Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat Light";
    font-weight: normal;
    src: url("Montserrat-Light.ttf");
}

@font-face {
    font-family: "Montserrat Thin";
    font-weight: normal;
    src: url("Montserrat-Thin.ttf");
}