body {
    background: #222;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    /* cursor: none; */
    user-select: none;
}

.title .gray {
    color: #707070;
    margin-left: 10px;
    font-size: 20px;
}

.button-containers {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 500px;
    height: 250px;
    background: #313131;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    border-radius: 5px;
    transition: transform 0.3s ease-out;
}

.button img {
    position: absolute;
    left: calc(50% - 75px);
    top: 10px;
}

.button .button-text {
    position: absolute;
    bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    display: block;
    left: 0;
    text-align: center;
}

.button-selected {
    transform: scale(1.1);
}

.title {
    position: fixed;
    top: 50px;
    left: 50px;
    font-size: 30px;
    font-weight: 900;
}

.snackbar {
    position: fixed;
    bottom: 10px;
    padding: 10px;
    border-radius: 1000px;
    text-align: center;
    width: 300px;
    height: 20px;
    background: #111;
    left: calc(50% - 150px);
    display: none;
}

.snackbar-show {
    display: block;
}

.licences-button {
    opacity: 0.6;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.licences-button-selected {
    opacity: 1;
}

.licences-button-selected-tip {
    position: fixed;
    bottom: 130px;
    color: #000;
    right: 20px;
    height: 30px;
    width: 100px;
    background: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.licences-button-selected-tip::after {
    content: '';
    position: absolute;
    bottom: -8px;
    height: 20px;
    background: #fff;
    width: 20px;
    left: calc(50% - 10px);
    transform: rotate(45deg);
    z-index: -1;
}

.displayFlex {
    display: flex;
}


.navigation {
    position: fixed;
    bottom: 100px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.navigation div img {
    border-radius: 5px;
    transform: translateY(30px);
    margin-left: 20px;
    margin-right: 20px;
}

.navigation div span {
    height: 100%;
    text-align: center;
}





/* 
    LICENCES AREA
*/

.licences-tab {
    position: fixed;
    top: 40px;
    left: 40px;
    width: calc(49.5% - 40px);
    height: calc(100% - 80px);
    display: none;
    background: #111;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
}

.licence-display {
    position: fixed;
    top: 40px;
    right: 40px;
    width: calc(49.5% - 40px);
    height: calc(100% - 80px);
    background: #111;
    box-sizing: border-box;
    padding: 20px;
    font-family: consolas;
    border-radius: 0px 10px 10px 0px;
}

.licence-display h1 {
    text-align: center;
}

.licences-tab-back {
    backdrop-filter: blur(4px);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#licence-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#licence-list li {
    margin-bottom: 10px;
    background: #02049c;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 5px 0px #00016e;
}

.selected-licence {
    background: #0003cc !important;
}

/* 
    POWER AREA
*/

.power-tab {
    position: fixed;
    top: calc(50% - 80px);
    left: calc(50% - 250px);
    width: 500px;
    height: 160px;
    display: none;
    background: #111;
    border-radius: 10px;
}

.power-button {
    width: 160px;
    height: 160px;
    background: #1f1f1f;
    margin: 0;
    padding: 0;
    position: absolute;
}

.power-button-left   {
    border-radius: 10px 0px 0px 10px;
}
.power-button-middle {
    border-radius: 0px;
    left: 170px;
}
.power-button-right  {
    border-radius: 0px 10px 10px 0px;
    right: 0;
}

.power-button .power-button-text {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: block;
    text-align: center;
}

.power-button img {
    position: absolute;
    top: 30px;
    left: calc(50% - 25px);
}

.power-button-selected {
    background: #707070;
}


.toast {
    position: fixed;
    bottom: -65px;
    left: 10px;
    width: 500px;
    height: 60px;
    background-color: #313131;
    box-shadow: 0px 0px 5px #000;
    font-family: consolas;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toast-show {
    bottom: 10px;
}

/*
Library Tab
*/

.library-tab {
    position: fixed;
    top: 40px;
    left: 40px;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    display: none;
    background: #111;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
}

.library-tab .library-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    background: #0a0a0a;
    border-radius: 10px 0px 0px 10px;
}

.library-tab .library-sidebar .library-sidebar-header {
    box-sizing: border-box;
    padding: 30px;
    font-family: "Montserrat Light";
    display: flex;
    align-items: center;
    justify-content: center;
}

.library-tab .library-sidebar .library-sidebar-header h1 {
    margin: 0;
    display: inline;
    margin-left: 40px;
}

.library-tab .library-content {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    background: transparent;
    border-radius: 0px 10px 10px 0px;
    box-sizing: border-box;
    padding: 20px;
}

.library-game {
    display: inline-block;
    width: 350px;
    height: 175px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Game Art */

.library-game-pacman    { background-image: url("../img/gamecovers/pacman.png"); }
.library-game-smb       { background-image: url("../img/gamecovers/smb.png"); }
.library-game-celeste   { background-image: url("../img/gamecovers/celeste.png"); }
.library-game-doom      { background-image: url("../img/gamecovers/doom.png"); }
.library-game-minecraft { background-image: url("../img/gamecovers/minecraft.png"); }

/* -------- */

#internet-note {
    position: fixed;
    top: 85px;
    left: 70px;
    font-size: 17px;
    color: #fff;
    display: none;
}

#internet-note::before {
    content: '!';
    position: fixed;
    top: 85px;
    left: 50px;
    width: 17px;
    height: 17px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    color: #000;
}